<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>My Posts</h1>
    </div>
    <div class="container py-3">
    {% for note in notes %}
        <span class="container p-3 border rounded bg-secondary text-light">{{ note.content }}</span>
    {% endfor %}
    </div>
    <div class="container" >
        <form action="/add_note" method=POST>
        {% csrf_token %}
            <h2>Add a note: </h2>
            <textarea name="content" id="" class="form-control"></textarea>
            <button type="submit" class="btn btn-dark mt-3">Add Note</button>
        </form>
    </div>
</body>
</html>